/* <!-- ACCEPTANCE CRITERIA -->
<!-- 1) Name, Recent photo avatar, links to "about me", "portfolio", "contact me" in a navbar (header) -->
<!-- 2) Working anchors that link the navbar to items on the webpage -->
<!-- 3) "First Application" should be larger than the other items and list first (see Figma) -->
<!-- 4) When user clicks on img of application it takes them to that application (but we don't have any...?) -->
<!-- 5) webpage is responsive to phones, tablets, and desktop (media queries, etc) -->
<!-- 6) Resembles the mockup found in /images -->
<!-- 7) Write a README --> */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* stacks the content so it is not side-by-side to make it more mobile-friendly */
body {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

.floatLeft {
  display: flex;
  align-self: flex-start;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
}

nav {
  display: flex;
  align-self: flex-end;
}

nav a {
  display: flex;
  padding: 1rem;
}

section {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
  }

article {
    display: flex;
    align-self: flex-end;
    width: 80%;
}
  
 

 /* .aboutMe {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: violet;
} */

.abooutMeHeader {
  display: flex;
  /* position: relative;
  top: .5rem;
  left: 1rem; */
  text-align: right;
  padding-right: 1rem;
  border-right: 3px solid black;
}

/* .aboutMeContent {
  display: flex;
  align-items: flex-end;
  width:75%;
  padding-left: 1rem;
  border-left: 2px solid black;
  align-items: center;
  padding: 1rem;
} */
