/* <!-- ACCEPTANCE CRITERIA -->
<!-- 1) Name, Recent photo avatar, links to "about me", "portfolio", "contact me" in a navbar (header) -->
<!-- 2) Working anchors that link the navbar to items on the webpage -->
<!-- 3) "First Application" should be larger than the other items and list first (see Figma) -->
<!-- 4) When user clicks on img of application it takes them to that application (but we don't have any...?) -->
<!-- 5) webpage is responsive to phones, tablets, and desktop (media queries, etc) -->
<!-- 6) Resembles the mockup found in /images -->
<!-- 7) Write a README --> */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* stacks the content so it is not side-by-side to make it more mobile-friendly */
body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: aqua;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
}

nav a {
    margin: 10px;
}

.about-me {
    display: flex;
    flex-direction: row;
    background-color: violet;
}