/* <!-- ACCEPTANCE CRITERIA -->
<!-- 1) Name, Recent photo avatar, links to "about me", "portfolio", "contact me" in a navbar (header) -->
<!-- 2) Working anchors that link the navbar to items on the webpage -->
<!-- 3) "First Application" should be larger than the other items and list first (see Figma) -->
<!-- 4) When user clicks on img of application it takes them to that application (but we don't have any...?) -->
<!-- 5) webpage is responsive to phones, tablets, and desktop (media queries, etc) -->
<!-- 6) Resembles the mockup found in /images -->
<!-- 7) Write a README --> */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* stacks the content so it is not side-by-side to make it more mobile-friendly */
body {
  display: flex;
  flex-direction: column;
}

/* div, nav, and nav a style header elements */
#header {
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

#headerFloatLeft {
  display: flex;
  align-self: flex-start;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
}

nav {
  display: flex;
  align-self: flex-end;
}

nav a {
  display: flex;
  padding: 1rem;
}

/* Start of "About Me" section */

.contentPadding {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* Styles "About Me", "My Work", and "Contact Me" */

/* Syles "About Me" article */
#aboutMeRHS {
  margin-left: 15px;
}

section {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  margin-bottom: 1rem;
}

section aside {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  padding-right: 25px;
  text-align: right;
  min-width: 15%;
  border-right: 3px solid black;
}

section aside h2 {
  margin-right: -20px;
  margin-top: 0px;
}

section nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

section div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#imageColumn {
  display: flex;
  flex-direction: column;
}
/* section nav div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
} */

/* section nav div a img {
  display: flex;
  align-items: center;
} */

/* #myWorkContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#myWorkContainer div {
  border: 1px solid black;
  width: 100%;
}

#myWorkContainer a {
  border: 1px solid black;
  width: 50%;
} */

/* #bigProject img {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: auto;
}

#myWorkContainer a {
  display: flex;
  flex-direction: row;
  min-width: 50%;
} */
