* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin:0;
  box-sizing: border-box;
}

/* I prefer using columns for adapting to mobile */
body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: large;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.col-2 {
  width: 100%;
  height: auto;
}

.dark-mode-link {
  color: white;
}

/* prevents links changing color */
/* a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: underline;
  text-decoration: none;
 } */

/* Styling for the header and embedded navbar */
#header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  /* background-color: #003566; */
}

.center {
  text-align: center;
}

.container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  display: flex;
  /* flex-direction: column; */
  width: 80%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.w-100 {
  width: 100%;
  height: auto;
}

.w-50 {
  width: 50%;
  height: auto;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

#header-name {
  display: flex;
  align-self: flex-start;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
  color: white;
}

#nav {
  display: flex;
  align-self: flex-end;
  
}

#nav a {
  display: flex;
  padding: 1rem;
  color: white;
}

/* Profile image style */
/* using a sizing technique I found online https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */
/* 1439x709 image size */
#bg-img {
  background-image: url(FB_banner_crop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 49.27%;
  position: relative;
}

#bg-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: black;
  /* makes the text "pop" against the image */
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* universal style for "About Me", "My Work", and "Contact Me" */

.content-container {
  display: flex;
  flex-direction: column;
  /* margin: 1rem 0 1rem 0; */
}

/* Syles "About Me" article */
#aboutMeRHS {
  margin-left: 15px;
}

.section {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  /* margin-bottom: 1rem; */
  padding: 1rem 0 1rem 0;
  color: white;
  background-color: #343a40;
  /* background-color: #003566; */
}

.left-side {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  padding-right: 25px;
  text-align: right;
  min-width: 15%;
  border-right: 3px solid black;
}

#big-img {
  width: 100%;
  height: auto;
}

/* Styles "Contact Me" */

.contact-me {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  padding: 5px;
}

#wiki {
  font-weight: bolder;
}

@media screen and (max-width: 992px) {
  .bgText {
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  .bgText {
    font-size: 70%;
    transform: translate(-50%, -30%);
  }
  aside h2 {
    font-size: 90%;
  }
}